
/* 
设置图片按比例放缩，原来设置中，图片太大了
其他属性是直接从[浏览器开发者工具查看源代码中]拷来的
为什么要重复设置这些属性？因为像 about 页面没有这些设置
*/

img {
    margin: 0 auto;
    display: block;
    width: 70%;
    height: 50%;
    object-fit: cover;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    border-radius: 0.25rem;
    background-color: transparent;

}